body{
	background: #ececec;
}

div{
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
	background-color: white;
	padding: 50px;
}

h1{
	text-align: center;
	font-size: 40px;
	margin-top: 0;
}

img {
	max-width: 25%;
	display: block;
  	margin-left: auto;
  	margin-right: auto;
  	width: 50%;
}

span{
	color: #072b92;
	text-transform: uppercase;
	text-shadow: 5px 5px 5px #82828259;
}

p{
	font-size: 20px;
	line-height: 1.5;
	color: #464646;
}
